.stock__cards {
   margin-top: 80px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 35px;
   min-width: 100%;
}

@media screen and (max-width: 1280px) {
   .stock__cards {
      margin-top: 60px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
   }
}

@media screen and (max-width: 1024px) {
   .stock__cards {
      margin-top: 50px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
   }
}

@media screen and (max-width: 768px) {
   .stock__cards {
      margin-top: 50px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px;
   }
}