.adv__icon {
   object-fit: cover;
   height: 70px;
   margin-top: 60px;
}

@media screen and (max-width: 1280px) {
   .adv__icon {
      height: 70px;
   }
}

@media screen and (max-width: 1024px) {
   .adv__icon {
      height: 60px;
      margin-top: 60px;
   }
}

@media screen and (max-width: 768px) {
   .adv__icon {
      height: 45px;
      margin-top: 30px;
   }
}