@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.root {
   position: relative;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
}

body._lock {
   overflow: hidden;
}
