.header__contact {
   margin: 0;
   box-sizing: border-box;
   padding: 10px;
   border-radius: 6px;
   border: 3px solid #ffffff;
   background-color: transparent;
   cursor: pointer;
   color: white;
   font-weight: bold;
   font-size: 16px;
   transition: opacity .3s linear;
}

.header__contact:hover {
   opacity: .7;
}

@media screen and (max-width: 1280px) {
   .header__contact {
      font-size: 14px;
      padding: 8px;
   }
}

@media screen and (max-width: 1024px) {
   .header__contact {
      font-size: 12px;
   }
}

@media screen and (max-width: 768px) {
   .header__contact {
      font-size: 11px;
      padding: 6px;
   }
}

@media screen and (max-width: 900px) {
   .header__contact {
      display: none;
   }
}