.stock__props-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0 0 20px;
}

.stock__props-item:last-child {
   margin: 0;
}

@media screen and (max-width: 1280px) {
   .stock__props-item {
      margin: 0 0 16px;
   }
}

@media screen and (max-width: 768px) {
   .stock__props-item {
      margin: 0 0 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
   }
}
