.footer__icon {
   object-fit: cover;
   margin: 0 auto 0 0;
}

@media screen and (max-width: 1280px) {
   .footer__icon {
      width: 10%;
   }
}

@media screen and (max-width: 1024px) {
   .footer__icon {
      width: 8%;
   }
}

@media screen and (max-width: 768px) {
   .footer__icon {
      width: 7%;
   }
}