.about {
   min-width: 100%;
   box-sizing: border-box;
   padding: 100px 120px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

@media screen and (max-width: 1280px) {
   .about {
      padding: 70px 80px;   
   }
}

@media screen and (max-width: 1024px) {
   .about {
      padding: 60px 40px;   
   }
}

@media screen and (max-width: 768px) {
   .about {
      padding: 34px;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
}