.advantage__card {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-right: 1px solid black;

}

.advantage__card:last-child {
   border: none;
}

@media screen and (max-width: 768px) {
   .advantage__card:nth-child(even) {
      border-right: none;
   }
}